

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    height: 100vh;
    width: 100vw;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.firstdiv{
    height: 100px;
    width: 800px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 2px rgb(81, 81, 81);
   
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#span,
#para{
    font-size: 45px;
    font-weight: 600;
 font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.seconddiv{
height: 200px;
width: 200px;
margin-top: 20px;
background-color: rgb(255, 230, 167);
box-shadow: 0px 0px 5px 2px rgb(247, 2, 2);
display: flex;
justify-content: center;
align-items: center;

}
#parachange{
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}
#span{
    text-transform: capitalize;
}