*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: rgb(194, 250, 250);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div1{
   
    height: 80%;
    width: 80%;
    border-radius: 60px;
}
.div1 img{
   height: 100%;
   width: 100%;
   border-radius: 60px;
}
#img1{
    position: absolute;
    height: 50px;
    width: 50px;
    margin-left: 70%;
}
#img2{
    position: absolute;
    height: 50px;
    width: 50px;
    margin-right: 70%;
}