*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.maincontainer{
    width: 100vw;
    height: 100vh;
    /* border: 4px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form{
    width: 60%;
    height: 90%;
    /* border: 2px solid black; */
}
.formupper{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
}
.formlower{
    width: 100%;
    height: 90%;
    overflow-y: scroll;
}
.subcontainer{
    width: 100%;
    height: 30%;
    margin-bottom: .1rem;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subcontainerdiv{
    width: 100%;
    height: 33%;
    /* border: 2px solid red; */
}
.subcontainerdiv input{
    width: 100%;
    height: 100%;
}
.subcontainerbutton{
    width: 20%;
    height: 10%;
    /* border: 2px solid red; */
    
}
.subcontainerbutton button{
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: .5rem;
}
h1{
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    font-size: 20px;
    font-family: monospace;
}
h3{
    width: 100%;
    height: 100%;
    color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}
::-webkit-scrollbar {
    display: none;
}


