

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headpart {
    height: 400px;
    width: 98%;
    margin-top: 5px;
    /* background-color: aqua; */
    background-image: url(./artem-beliaikin-FWzxSkTS7v0-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* opacity: .8; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 2px 2px rgb(251, 251, 254);

}
.divinsidepart{
    height: 350px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 1px .1px rgb(251, 251, 254);
    background-image: url(./artem-beliaikin-FWzxSkTS7v0-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#totalcountry{
    font-size: 25px;
    margin: 20px;
    color: white;
    text-transform: capitalize;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 10px rgb(6, 0, 193);
}

#para1{
    font-size: 50px;
    text-transform:uppercase;
    font-weight: 500;
    text-shadow: 1px 1px 10px rgb(21, 0, 255);
  color:white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 15px;
  
}
#para3{
    font-size: 20px;
    text-transform:capitalize;
    font-weight: 500;
    text-shadow: 1px 1px 10px rgb(21, 0, 255);
  color:white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
 background-color: black;
  
}
#searchwithanyword,
#startingbutton{
    font-size: 18px;
    color: white;
    background-color: blueviolet;
    outline: none;
    height: 35px;
    width: 180px;
    border: 1px solid blueviolet;
    margin: 10px;
    
}
#searchwithanyword:hover,
#startingbutton:hover{
    font-size: 18px;
    color: white;
    background-color: rgb(50, 4, 93);
    outline: none;
    height: 35px;
    width: 180px;
    border: 1px solid blueviolet;

}
#inputvalue{
    width: 520px;
    height: 40px;
    font-size: 20px;
    outline: none;
    margin: 20px;
    border-radius: 30px;
    border: 1px solid white;
}

.card {
    width: 20vw;
    height: 170px;
    padding: 2rem 1rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0.992);
    font-size: 25px;
    background-image: url(./nasa-Q1p7bh3SHj8-unsplash.jpg);
    /* background-image: url(./greg-rosenke-GOWz0zTf_vY-unsplash.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
}
#countryCardContainer{
    width: 98%;
    margin: 5px;
    background-color: rgb(0, 0, 0);
    /* box-shadow: 1px 1px 2px 2px rgb(0, 0, 0); */
    text-transform: uppercase;
    /* background-image: url(./nasa-Q1p7bh3SHj8-unsplash.jpg); */
    /* background-image: url(./greg-rosenke-GOWz0zTf_vY-unsplash.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}